<div class="row">
    <div class="container col-md-3">
        <div class="card">
                <div class="ui statistic p-3">
                    <div class="label">
                      <h2>Confirmed</h2>
                    </div>
                    <div class="value">
                      {{strConfirmed}}
                    </div>
                  </div>
        </div>
    </div>
    <div class="container col-md-3" >
            <div class="card">
                <div class="ui statistic p-3">
                    <div class="label" style="color: blue;">
                     <h2>Active</h2>
                    </div>
                    <div class="value">
                    {{strActive}}
                    </div>
                  </div>
            </div>
    </div>
    <div class="container col-md-3" >
        <div class="card">
            <div class="ui statistic p-3">
                <div class="label" style="color: red;">
                  <h2>Deaths</h2>
                </div>
                <div class="value">
                {{strDeaths}}
                </div>
              </div>
        </div>
    </div>
    <div class="container col-md-3">
        <div class="card">
            <div class="ui statistic p-3">
                <div class="label"  style="color:green;">
                  <h2>Recovered</h2>
                </div>
                <div class="value">
                {{strRecovered}}
                </div>
              </div>
        </div>

    </div>
</div>
