<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Covid 19 Tracker | By Country</h1>
    <hr/>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio eum sit error, enim eaque cumque deleniti fugit, nisi repellat accusantium praesentium repellendus dolorem quos quis harum impedit non atque tenetur?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi modi ullam natus provident, nesciunt consequatur quasi sapiente, ducimus beatae aspernatur similique distinctio possimus vero assumenda, expedita minima placeat voluptatem dolore?</p>
</div>